<div class="container">
  <div class='level top-spacer'>
    <div class='level-item'>
      <div class='panel'>
        <div class='panel-heading'>{{header}}</div>
        <div class='panel-block'>
          <div class="field">
              <label class="label">Trigger Observable: </label>
              <div class="control">
                  <button class='button is-dark' (click)="triggerEvent($event)">
                    <span class='icon'><i class="fas fa-exclamation"></i>
                    </span>&nbsp; | Click Here
                  </button>
              </div>
            </div>
        </div>
      </div>
    </div>
      <div class="tile is-parent has-background-grey-darker" *ngIf='obs1clicked'>
        <div class='tile is-6 has-text-grey-lighter'>
            Observable Result 1:
        </div>
        <div class='tile has-text-grey-lighter'>
          {{obs1.cx}}, {{obs1.cy}}
        </div>
    </div>
  </div>
  <hr>
  <div class='level top-spacer'>
      <div class='level-item'>
        <div class='panel'>
          <div class='panel-heading'>{{subheaderText[0]}}</div>
          <div class='panel-block'>
            <div class="field">
                <label class="label">Trigger Custom Observer: </label>
                <div class="control">
                    <button class='button is-dark' (click)="customObservable()">
                      <span class='icon'><i class="fas fa-exclamation"></i>
                      </span>&nbsp; | Click Here
                    </button>
                </div>
              </div>
          </div>
        </div>
      </div>
        <div class="tile is-parent has-background-black-ter" *ngIf='obs2clicked'>
          <div class='tile is-6 has-text-grey-lighter'>
              Observable 2 Result:
          </div>
          <div class='tile has-text-grey-lighter' >
            <ul class='content is-lower-roman'>
              <li *ngFor="let obs2Readout of obs2Data">{{obs2Readout}}</li>
            </ul>
          </div>
      </div>
  </div>
  <hr>
  <div class='level top-spacer'>
      <div class='level-item'>
        <div class='panel'>
          <div class='panel-heading'>{{subheaderText[1]}}</div>
          <div class='panel-block'>
            <div class="field">
                <label class="label">Trigger Interval Observer: </label>
                <div class="control">
                    <button class='button is-dark' (click)="obs3operators()">
                      <span class='icon'><i class="fas fa-exclamation"></i>
                      </span>&nbsp; | Click Here
                    </button>
                </div>
              </div>
          </div>
        </div>
      </div>
        <div class="tile is-parent has-background-black-ter" *ngIf='obs3clicked'>
          <div class='tile is-6 has-text-grey-lighter'>
              Observable 3 Result:
          </div>
          <div class='tile has-text-grey-lighter' >
            <ul class='content is-lower-roman'>
              <li *ngFor="let obs3Readout of obs3Data">{{obs3Readout}}</li>
            </ul>
          </div>
      </div>
    </div>
</div>
